# Tuple

A tuple is a collection data type in Python that:

is ordered

is immutable (cannot be changed after creation)

allows duplicate values

can store multiple data types

In [5]:
# Creating tuple 
t = (1, 2, 3)
print(t)

#Single element tuple
t = (5,)   # correct
t = (5)    # NOT a tuple

(1, 2, 3)

#### Accessing tuple

In [6]:
t = (10, 20, 30, 40)

print(t[0])     # 10
print(t[-1])    # 40

# slicing 
print(t[1:3])   # (20, 30)

10
40
(20, 30)

#### Tuple is immutable

In [7]:
#You cannot modify elements:
t[0] = 100   # TypeError

#But you can reassign:
t = (1, 2, 3)
t = (4, 5)   # Correct

TypeError: 'tuple' object does not support item assignment

#### Tuple Operations

In [ ]:
# Concatenation 
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)   # (1, 2, 3, 4)

# Repetition
print((1, 2) * 3)   # (1, 2, 1, 2, 1, 2)

# Membership
print(2 in (1, 2, 3))   # True

#### Built-in Functions with Tuple

In [ ]:
t = (5, 2, 9, 1)

len(t)      # 4
max(t)      # 9
min(t)      # 1
sum(t)      # 17

#### Tuple Methods

In [ ]:
t = (1, 2, 2, 3)

t.count(2)   # 2
t.index(3)   # 3

#### Tuple Packing & Unpacking

In [ ]:
# Packing 
t = 1, 2, 3

# Unpacking
a, b, c = (10, 20, 30)

# Using _ to ingnore values
a, _, c = (1, 2, 3)

#### Nested Tuples

In [ ]:
t = (1, (2, 3), 4)
print(t[1][0])   # 2